{% extends 'base.html' %}

{% block title %}Cadastro de Alunos{% endblock %}

{% block content %}
<div class="container">
    <h2 class="page-title">Cadastro de Alunos</h2>
    <form method="post" class="form-container">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ user_form.username.id_for_label }}">Nome de Usuário:</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}">E-mail:</label>
            {{ user_form.email }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.telefone.id_for_label }}">Telefone:</label>
            {{ profile_form.telefone }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.faculdade.id_for_label }}">Faculdade:</label>
            {{ profile_form.faculdade }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.curso_graduacao.id_for_label }}">Curso de Graduação:</label>
            {{ profile_form.curso_graduacao }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.ano_ingresso.id_for_label }}">Ano de Ingresso:</label>
            {{ profile_form.ano_ingresso }}
        </div>
        <div class="form-group">
            <label for="{{ profile_form.experiencias.id_for_label }}">Experiências:</label>
            {{ profile_form.experiencias }}
        </div>
        <button type="submit" class="btn-submit">Cadastrar</button>
    </form>
</div>
{% endblock content %}
