<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    {% load static %}  <!-- Carregar a tag static -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'aluno_signup' %}">Cadastro de Alunos</a></li>
            <li><a href="{% url 'empresa_signup' %}">Cadastro de Empresas</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
