{% extends 'base.html' %}

{% block title %}Serviços da minha empresa: {% endblock %}

{% block content %}
    <h2>Serviços da minha empresa: </h2>
    <ul>
        {% for servico in servicos %}
        <li>
            <h3>{{ servico.titulo }}</h3>
            <p><strong>Descrição:</strong> {{ servico.descricao }}</p>
            <p><strong>Prazo:</strong> {{ servico.prazo }}</p>
            <p><strong>Preço:</strong> R$ {{ servico.preco }}</p>
        </li>
        {% empty %}
        <p>Nenhum serviço disponível no momento.</p>
        {% endfor %}
    </ul>

    <a href="{% url 'criar_servico' %}">Criar novo serviço</a>

{% endblock %}
