body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #45489e;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3, p {
    text-align: center;
}

p {
    font-size: 1.2em; /* Aumenta o tamanho da fonte dos parágrafos */
    margin-left: 35px; /* Adiciona margem à esquerda */
    margin-right: 35px; /* Adiciona margem à direita */
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos adicionais para a barra de filtro */
.filter-container {
    text-align: center;
    margin-bottom: 20px;
}

.filter-container form {
    display: inline-block;
    text-align: left;
}

.filter-container input,
.filter-container button {
    display: block;
    margin: 5px auto;
}

.filter-container h2 {
    margin-bottom: 10px;
}

.clear-filters-button {
    margin-top: 10px;
    background-color: #f44336; /* cor do botão */
    color: white; /* cor do texto */
}

.clear-filters-button:hover {
    background-color: #d32f2f; /* cor do botão ao passar o mouse */
}

.candidato-bloco {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 30px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;

}

.candidato-bloco strong {
    display: block;
    margin-bottom: 5px;
}

.servicos-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 30px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;

}